<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Pseudonym:</strong>
    <%= user.pseudonym %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user.image %>
  </p>

</div>
